* {
	font-family: 'Gothic A1', sans-serif;
}

.grid-x {
  margin-bottom:-10px!important;
  margin-top:0px!important;
}

.bold-blue {
	font-weight: 500;
	color: #EB7E6C;
}

.text {
	font-weight: 800;
	font-size: 1em;
}

h1 {
	font-family: 'Gothic A1', sans-serif;
	font-weight: 900;
	font-size: 2.25em;
	letter-spacing: 1.5px;
	position: absolute;
	bottom:0;
	left:0;
	padding:0;
	color: black;
}

h2 {
	font-family: 'Gothic A1', sans-serif;
}

h4 {
	font-size: 1em;
	font-family: 'Gothic A1', sans-serif;
	font-weight: 900;
}

.header-description {
	padding-right: 37%;
}

.header-description h2 {
	font-family: 'Gothic A1', sans-serif;
	font-weight: 200;
	font-size: 1.5em;
}

.header {
	padding-top: 75px;
}

.header-description {
	padding-top: 125px;
	padding-bottom: 175px;
}

.header-name {
	position: relative;
	padding-top: 50px;
}

.header-nav {
	position: relative;
	padding-top: 10px;
}

nav {
	text-align: right;
	display: absolute;
	bottom: 0;
	right:0;
}

nav a {
	color: #C0C0C0;
}

.nav-list {
	list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.nav-list li {
	display:inline-block;
	font-weight: 800;
	letter-spacing: 1.25px;
}

.nav-list li a:hover, .current {
	color: black;
	font-weight: 800;
}

.piece {
	opacity: 1;
	transition: .5s ease;
  backface-visibility: hidden;
}

.piece-hover {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: -47%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.piece-container:hover .piece {
  opacity: 0.2;
}

.piece-container:hover .piece-hover {
  opacity: 1;
}

.project-header h2 {
	font-weight: 900;
	font-size: 1.25em;
	padding-top: 90px;
	padding-bottom: 5px;
}

.project-header h3 {
	font-size: 1em;
	font-weight: 700;
	color: gray;
	font-family: 'Gothic A1', sans-serif;
}

.project-skills ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

.project-skills {
	padding-top: 50px;
	padding-bottom: 75px;
}

.project-body p {
	width:65%;
}

.project-body {
	width:65%;
}

.project-footer, .project-footer a, .footer a {
	color: gray;
}

.project-footer a:hover, .footer a:hover {
	color: black;
}

.project-image {
	max-width: 65%;
}

/* Medium and down */
@media screen and (max-width: 63.9375em) {
	nav {
		text-align:right;
	}

	.header-name h1 {
		width: 100%;
		/*text-align: center;*/
		font-size: 1.75em;
	}

	.header-description, .header {
		/*border: 1px black solid;*/
		/*text-align: center;*/
		padding-left: 5%;
		padding-right: 12%;
	}

	.header-description-inner {
		/*text-align: center;*/
		/*margin: 0 auto;*/
		/*border: 1px black solid;*/
	}

	.header-description h2 {
		font-size: 1.10em;
		/*border: 1px blue solid;*/
	}

	.project {
		width: 100%;
		padding-left: 5%;
	}
	.project-image {
		max-width: 90%;
	}
	.footer {
		padding-left: 5%;
	}
}


/* Small only */
@media screen and (max-width: 39.9375em) {
	nav {
		text-align:left;
	}
}
