/* For mobile screens: 320px */


 /*header and menu*/
.header div h1 {
	text-align: center;
	font-size: 2.8em;
	padding-top: 50px;
	font-family: "Europa-Bold", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	letter-spacing: 0.75px;
}

.header nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px 0px 40px 0px;
}

.header nav ul li {
	text-align: center;
	padding: 5px 0px 5px 0px;
	font-family: "Europa-Bold", "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.header nav ul li a {
	text-decoration: none;
	font-family: "Europa-Bold", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #B5B5B5;
}

.header nav ul li a.current {
	color: black;
}

.header nav ul li a:hover {
	text-decoration: none;
	font-family: "Europa-Bold", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: black;
}


 /*portfolio display on home page*/
.container a {
	text-decoration: none;
}

.portfolio-piece {
	width: 100%;
	height: 285px;
	overflow: hidden;
/*
	max-width: 100%;
	min-height: 300px;

*/
	text-align: center;
	text-decoration: none;
	font-family: "Europa-Bold", "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

/*

a:hover .portfolio-piece {
	width: 100%;
	height: 100%;
	background: #FFF;
	color: #3e454c;
}
*/

.portfolio-piece .proj-description {
		opacity: 1;
	}

.proj-description p {
	max-width: 320px;
	padding: 10px 50px 0px 80px;
	text-align: left;
	font-family: "Europa-Light", "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.portfolio-piece h3 {
	padding: 0px 50px 0px 80px;
	font-size: 1.60em;
	text-align: left;
}


/*About Page*/
.about {
	background: #ff7f66;
	color: white;
	margin-top: 75px;
}

.about h3 {
	font-family: "Europa-Bold", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding: 100px 50px 100px 50px;
	color: white;
}

.about p {
	font-family: "Europa-Light", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding: 0px 50px 100px 50px;
}


 /*footer*/
.footer {
	text-align: center;
}

.footer h3 {
	font-family: "Europa-Bold", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding: 25px 0px 0px 0px;
	font-size: 1.75em;
}
.footer h4 {
	font-family: "Europa-Bold", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 0.75em;
}

.footer nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px 0px 25px 0px;
}

.footer nav ul li {
	text-align: center;
	padding: 5px 0px 0px 0px;
}

.footer nav ul li a {
	text-decoration: none;
	font-family: "Europa-Light", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #B5B5B5;
	font-size: 0.90em;
}

.footer nav ul li a:hover {
	text-decoration: none;
	font-family: "Europa-Light", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #000;
}


/* For tablet screens */
@media only screen and (min-width: 600px) {
	.container {
		max-width: 500px;
		margin: auto;
		padding: 0px;
	}
	.portfolio div .portfolio-piece {
		max-width: 500px;
		height: 350px;
		text-decoration: none;
	}
	.portfolio-piece h3 {
		padding: 0px 50px 0px 50px;
		font-size: 2em;
		text-align: center;
	}
	.proj-description p {
		margin: auto;
		padding:0px 0px 50px 0px;
		text-align: center;
	}
	.navigation {
		text-align: center;
	}
	.header nav ul {
		list-style-type: none;
		text-align: center;
		display: inline-block;
	}
	.header nav ul li {
		float: left;
	}
	.header nav ul li a {
		text-decoration: none;
		padding: 10px;
	}

	.portfolio-piece .proj-description {
		opacity: 1;
	}

	/*About Page*/
	.about {
		background: #ff7f66;
		color: white;
		margin-top: 75px;
	}

	.about h3 {
		font-family: "Europa-Bold", "Helvetica Neue", Helvetica, Arial, "sans-serif";
		padding: 100px 50px 50px 150px;
		color: white;
		max-width: 500px;
	}

	.about p {
		font-family: "Europa-Light", "Helvetica Neue", Helvetica, Arial, "sans-serif";
		padding-left: 150px;
		padding-bottom: 100px;
		max-width: 500px;
	}
	.project1 {
		background: #3e454c;
		/* background-image: url('../images/comyoot-project-3.png'); */
		background-size: 100% 100%;
		color: #e9e9e9;
	}

	.project2 {
		background: #2185c5;
		/* background-image: url('../images/designing-IS-project.png'); */
		background-size: 100% 100%;
		color: #e9e9e9;
	}

	.project3 {
		background: #a3dbfc;
		/* background-image: url('../images/dashboard-project.png'); */
		background-size: 100% 100%;
		color: #3e454c;
	}

	.project4 {
		background: #fbeec4;
		/* background-image: url('../images/xylophone-project.png'); */
		background-size: 100% 100%;
		color: #3e454c;
	}
}


/* For desktop screens */
@media only screen and (min-width: 1100px) {
	.header div h1 {
		text-align: left;
		padding: 22px 0px 10px 0px;
	}
	.header div {
		display: inline-block;
    	width: 500px;
    	height: 100px;
    	margin: 0px;
	}
	.header .flex-container {
		display: -webkit-flex;
		display: flex;
		width: 1010px;
		background-color: none;
		margin: auto;
	}
	.header .flex-item {
		width: 498px;
		height: 350px;
    	margin: 0px 0px 0px 8px;
	}
	.navigation {
		text-align: right;
	}
	.header nav ul {
		list-style-type: none;
		display: inline-block;
		padding: 75px 0px 0px 0px;
	}
	.header nav ul li {
		float: left;
	}
	.header nav ul li a {
		text-decoration: none;
	}
	.portfolio .flex-container {
		display: -webkit-flex;
		display: flex;
		width: 1000px;
		padding: 76px 0px 76px 0px;
		background-color: none;
		margin: auto;
	}

	a:hover .portfolio-piece {
		background: #FFF;
		color: #3e454c;
	}

	.portfolio .flex-item {
		width: 498px;
    	height: 200px;
    	padding: 0px 0px 0px 0px;
    	margin: auto;
    	text-align: center;
	}

	.portfolio-piece:hover .proj-description {
		opacity: 1;
	}

	.proj-description {
		padding: 50px 0px;
	}

	.footer {
		padding: 75px 0px;
	}

	/*About Page*/
	.about {
		background: #ff7f66;
		color: white;
		margin-top: 75px;
	}

	.about h3 {
		font-family: "Europa-Bold", "Helvetica Neue", Helvetica, Arial, "sans-serif";
		padding: 100px 50px 50px 150px;
		color: white;
		width: 500px;
	}

	.about p {
		font-family: "Europa-Light", "Helvetica Neue", Helvetica, Arial, "sans-serif";
		padding-left: 150px;
		padding-bottom: 100px;
		width: 500px;
	}

	.about-img img {
		width: 400px;
		margin-top: 200px;
		margin-left: 75px;
	}

	.about-w-pic {
		background: #ff7f66;
		color: white;
		margin-top: 75px;
		display: -webkit-flex;
		display: flex;
	}
}


/* individual project rectangle colors */
.project1 {
	/* background: #3e454c; */
	background: #CED7DD;
	/* background-image: url('../images/comyoot-project-3.png'); */
	background-size: 100% auto;
	color: #3e454c;
	background-repeat: no-repeat;
}

.project2 {
	/* background: #2185c5; */
	background: #7392B7;
	/* background-image: url('../images/designing-IS-project.png'); */
	background-size: 100% auto;
	color: #3e454c;
	background-repeat: no-repeat;
}

.project3 {
	/* background: #a3dbfc; */
	background: #88DCE2;
	/* background-image: url('../images/dashboard-project.png'); */
	background-size: 100% auto;
	color: #3e454c;
	background-repeat: no-repeat;
}

.project4 {
	background: #fbeec4;
	background: #E07D7D;
	/* background-image: url('../images/xylophone-project.png'); */
	background-size: 100% auto;
	color: #3e454c;
	background-repeat: no-repeat;
}

.project5 {
	background: #ff7f66;
	color: #e9e9e9;
}

.project6 {
	background: #29658c;
	color: #e9e9e9;
}





/* COMING SOON

.coming-soon {
	text-align: center;
	}

.coming-soon h3 {
	font-family: "Europa-Bold", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 2.5em;
	padding: 75px 50px 0px 50px;
}

.coming-soon p {
	font-family: "Europa-Light", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding: 0px 0px 75px 0px;
	max-width: 250px;
	margin: auto;
}

*/
