/* CSS for project pages*/


 /*header and menu*/
.header div h1 {
	text-align: center;
	font-size: 2.8em;
	padding-top: 50px;
	font-family: "Europa-Bold", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	letter-spacing: 0.75px;
}

.header nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px 0px 40px 0px;
}

.header nav ul li {
	text-align: center;
	padding: 5px 0px 5px 0px;
	font-family: "Europa-Bold", "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.header nav ul li a {
	text-decoration: none;
	font-family: "Europa-Bold", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #B5B5B5;
}

.header nav ul li a.current {
	color: black;
}

.header nav ul li a:hover {
	text-decoration: none;
	font-family: "Europa-Bold", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: black;
}


 /*footer*/
.footer {
	text-align: center;
}

.footer h3 {
	font-family: "Europa-Bold", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding: 25px 0px 0px 0px;
	font-size: 1.65em;
}
.footer h4 {
	font-family: "Europa-Bold", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 0.85em;
}

.footer nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px 0px 25px 0px;
}

.footer nav ul li {
	text-align: center;
	padding: 5px 0px 0px 0px;
}

.footer nav ul li a {
	text-decoration: none;
	font-family: "Europa-Light", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #B5B5B5;
	font-size: 0.90em;
}

.footer nav ul li a:hover {
	text-decoration: none;
	font-family: "Europa-Light", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #000;
}


/* Project section */
main {
	font-family: "Europa-Light", "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.project-header {
	padding: 50px 65px;
	margin-bottom: 30px;
}

.project-title {
	font-family: "Europa-Bold", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 20px;
}

.project-desc {
	padding-bottom: 30px;
}

.project-desc ul {
	margin: 0px;
	padding-left: 0px;
	padding-top: 20px;
	font-size: 12px;
	text-transform: uppercase;
	list-style-type: none;
	letter-spacing: 3px;
	line-height: 17px;
}

.project-sect {
	padding: 25px 65px 50px 65px;
}

.project-sect h4 {
	font-family: "Europa-Bold", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 23px;
	padding-bottom: 30px;
}

.project-sect h5 {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-top: 40px;
	margin-bottom: 30px;
}

.project-sect h6 {
	font-size: 14px;
	font-family: "Europa-Bold", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin-bottom: 5px;
	padding: 0px;
}

.project-sect p {
	font-size: 16px;
	margin: 0px;
	padding: 0px;
}

.project-sect ol li{
	padding-left: 10px;
}

img {
	width: 100%;
	margin: 25px 0px;
}

.tech-side {
	width: 100%;
	margin: 25px 0px;
}

.bold {
	font-family: "Europa-Bold", "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

/* Screen for Tablets */
@media only screen and (min-width: 600px) {
	/* header and navigation */
	.navigation {
		text-align: center;
	}
	.header nav ul {
		list-style-type: none;
		text-align: center;
		display: inline-block;
	}
	.header nav ul li {
		float: left;
	}
	.header nav ul li a {
		text-decoration: none;
		padding: 10px;
	}
}


/* Screen for Desktop */
@media only screen and (min-width: 1100px) {
	/* header and navigation */
	.header div h1 {
		text-align: left;
		padding: 22px 0px 10px 0px;
	}
	.header div {
		display: inline-block;
    	width: 500px;
    	height: 100px;
    	margin: 0px;
	}
	.header .flex-container {
		display: -webkit-flex;
		display: flex;
		width: 1010px;
		background-color: none;
		margin: auto;
	}
	.header .flex-item {
		width: 498px;
    	margin: 0px 0px 0px 8px;
	}
	.navigation {
		text-align: right;
	}
	.header nav ul {
		list-style-type: none;
		display: inline-block;
		padding: 75px 0px 0px 0px;
	}
	.header nav ul li {
		float: left;
	}
	.header nav ul li a {
		text-decoration: none;
	}
	
	/*project section*/
	.project-header {
		display: -webkit-flex;
		display: flex;
		margin-top: 75px;
	}
	
	.project-body {
		border: 3px;
	}

	.project-desc {
		width: 500px;
	}
	
	.project-title {
		width: 300px;
	}
	
	.project-title h2 {
		text-align: right;
		font-family: "Europa-Bold", "Helvetica Neue", Helvetica, Arial, "sans-serif";
		font-size: 1.5em;
		margin-top: 110px;
		padding-right: 15px;
/*
		width: 400px;
		text-align: right;
		font-family: "Europa-Bold", "Helvetica Neue", Helvetica, Arial, "sans-serif";
		font-size: 2em;
		float: right;
		padding-right: 15px;
		margin-top: 110px;
*/
	}

	.project-desc p {
		max-width: 450px;
		text-align: left;
		font-family: "Europa-Light", "Helvetica Neue", Helvetica, Arial, "sans-serif";
		padding-left: 15px;
		margin-top: 117px;
	}
	
	.project-desc ul {
		margin-bottom: 65px;
		padding-left: 15px;
	}
	
	.project-sect {
		width: 700px;
		margin-left: 310px;
	}
	
	img {
		width: 700px;
		margin-top: 25px;
		margin-bottom: 25px;
	}

	.tech-side {
		width: 800px;
	}
}


.project1 {
	background: #3e454c;
	color: #e9e9e9;
}

.project2 {
	background: #2185c5;
	color: #e9e9e9;
}

.project3 {
	background: #a3dbfc;
	color: #3e454c;
}

.project4 {
	background: #fbeec4;
	color: #3e454c;
}

.project5 {
	background: #ff7f66;
	color: #e9e9e9;
}

.project6 {
	background: #29658c;
	color: #e9e9e9;
}